*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  overflow-x: hidden;
  
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur (20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.nav-links{
  display: flex;
  gap: 40px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 6px;
}

.navbar.scrolled .nav-links a {
  color: #1f2937;
}

.nav-links a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.navbar.scrolled .nav-links a{
  color: #1f2937;
}

.navbar.scrolled .nav-links a::after{
  background-color: #1f2937;
}

.nav-actions {
  position: absolute;
  right: 70px;
  display: flex;
  align-items: center;
  gap: 28px;
}

.search-link{
  display: flex;
  align-items: center;
}

.search-icon{
  width: 40px;
  height: 40px;
}

.login-button{
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 14px 34px;
  border-radius: 30px;
  font-weight: 600;
}

.navbar.scrolled .login-button{
  background-color: #1f2937;
  color: white;
}

.navbar.scrolled .search-icon{
  filter: brightness(0);
}

.navbar.other-page {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.navbar.other-page .nav-links a{
  color: #1f2937;
}

.navbar.other-page .nav-links a::after {
  background-color: #1f2937;
}

.navbar.other-page .search-icon {
  filter: brightness(0);
}

.navbar.other-page .login-button{
  background-color: #1f2937;
  color: white;
}

/* Hero */
.hero-section {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 90px;
  padding-top: 80px;
  color: white;
}

.hero-content{
  max-width: 650px;
}

.hero-content h1{
  font-size: 64px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-content p{
  font-size: 18px;
  line-height: 1.6;
}

/* featured hotels */

.featured-hotels{
  background-color: #f5f7fa;
  padding: 100px 40px;
  display: flex;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
}

/* roomcard */
.room-card{
  width: 305px;
  background-color: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;

}

.room-card:hover{
  transform: translateY(-5px);
}

.image-box {
  position: relative;
  height: 185px
}

.image-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 12px;
  left: 14px;
  background-color: white;
  color: black;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
}

.room-card-body{
  padding: 18px;
}

.room-card-body h3{
  margin: 0 0 8px;
  font-size: 17px;
}

.rating, .loaction {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card-icon{
  width: 16px;
  height: 16px;
}

.rating span{
  color: #6b7280;
}

.location{
  color: #6b7280;
  margin: 8px 0 25px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price{
  font-weight: bold;
}

.book-button{
  text-decoration: none;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  padding: 10px 18px;
  border-radius: 4px;
  color: #6b7280;
  font-weight: bold;

}

.book-button:hover{
  background-color: #6b7280;
  color: white;
}

form {
  display:flex;
  flex-direction: column;
  width: 300px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
}

button{
  padding: 8px;
}

/* Rooms page */

.rooms-page{
  padding-top: 140px;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh;
  background-color: #f5f7fa;
}

.rooms-title{
  text-align: center;
  margin-top: 50px;
  font-size: 42px;
  padding-bottom: 30px;
}

.rooms-container{
  display: flex;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
}
.room-page {
  min-height: 100vh;
  padding: 40px;
  background-color: #f4f1ec;
  font-family: Arial, sans-serif;
}

.room-card,
.booking-card {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.room-card {
  display: flex;
  gap: 30px;
}

.room-image {
  width: 50%;
  height: 420px;
  object-fit: cover;
  border-radius: 14px;
}

.room-info {
  flex: 1;
}

.facility-list {
  padding-left: 20px;
}

.primary-btn {
  background-color: #8a5a2b;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.primary-btn:hover {
  background-color: #6f451f;
}

.booking-card {
  max-width: 550px;
}

.booking-form {
  display: flex;
  flex-direction: column;
}

.booking-form label {
  margin-bottom: 6px;
  font-weight: bold;
}

.booking-form input {
  margin-bottom: 18px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .room-card {
    flex-direction: column;
  }

  .room-image {
    width: 100%;
    height: 280px;
  }
}

/* Room details and booking page */

.booking-page {
  min-height: 100vh;
  padding: 40px;
  background-color: #f4f1ec;
  font-family: Arial, sans-serif;
}

.booking-details-card,
.reservation-card {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.booking-details-card {
  display: flex;
  gap: 30px;
}

.booking-room-image {
  width: 50%;
  height: 420px;
  object-fit: cover;
  border-radius: 14px;
}

.booking-room-info {
  flex: 1;
}

.booking-facility-list {
  padding-left: 20px;
}

.booking-primary-btn {
  background-color: #8a5a2b;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.booking-primary-btn:hover {
  background-color: #6f451f;
}

.reservation-card {
  max-width: 550px;
}

.reservation-form {
  display: flex;
  flex-direction: column;
}

.reservation-form label {
  margin-bottom: 6px;
  font-weight: bold;
}

.reservation-form input {
  margin-bottom: 18px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .booking-details-card {
    flex-direction: column;
  }

  .booking-room-image {
    width: 100%;
    height: 280px;
  }
}
